aiofiles==0.7.0
aiohttp==3.7.4.post0
aiohttp-swagger==1.0.15
async-lru==1.0.2
async-timeout==3.0.1
asyncssh==2.7.2
attrs==21.2.0
backcall==0.2.0
bcrypt==3.2.0
black==21.9b0
blessings==1.7
bpython==0.21
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==7.1.2
cryptography==35.0.0
curtsies==0.3.7
cwcwidth==0.1.4
decorator==5.1.0
dill==0.3.4
distro==1.6.0
fancycompleter==0.9.1
flake8==3.9.2
flask==1.1.4
future==0.18.2
genie==21.9
genie.libs.clean==21.9.3
genie.libs.conf==21.9
genie.libs.filetransferutils==21.9
genie.libs.health==21.9.1
genie.libs.ops==21.9
genie.libs.parser==21.9
genie.libs.sdk==21.9
greenlet==1.1.2
grpcio==1.41.0
grpcio-tools==1.41.0
hvac==0.11.2
idna==3.2
iniconfig==1.1.1
ipdb==0.13.9
ipython==7.28.0
itsdangerous==1.1.0
jedi==0.18.0
jinja2==2.11.3
jsonpickle==2.0.0
junit-xml==1.9
kthread==0.2.2
lxml==4.6.3
markupsafe==1.1.1
matplotlib-inline==0.1.3
mccabe==0.6.1
multidict==5.2.0
mypy==0.910
mypy-extensions==0.4.3
ncclient==0.6.12
netaddr==0.8.0
netmiko==3.4.0
ntc-templates==2.3.2
packaging==21.0
paramiko==2.7.2
parso==0.8.2
pathspec==0.9.0
pdbpp==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
pluggy==1.0.0
prettytable==2.2.1
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyang==2.5.0
pyats==21.9
pyats.aereport==21.9
pyats.aetest==21.9
pyats.async==21.9
pyats.connections==21.9
pyats.datastructures==21.9
pyats.easypy==21.9
pyats.kleenex==21.9
pyats.log==21.9
pyats.reporter==21.9
pyats.results==21.9
pyats.tcl==21.9
pyats.topology==21.9
pyats.utils==21.9
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pyftpdlib==1.5.6
pygments==2.10.0
pygnmi==0.6.0
pynacl==1.4.0
pyparsing==2.4.7
pyrepl==0.9.0
pyserial==3.5
pytest==6.2.5
python-engineio==3.14.2
python-socketio==4.6.1
pyxdg==0.27
pyyaml==5.4.1
regex==2021.9.30
requests==2.26.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
scp==0.14.1
scrapli[asyncssh,genie,paramiko,textfsm,ttp]==2021.7.30
# scrapli[ssh2]==2021.7.30 <-- Issues on MacOS
scrapli-netconf==2021.7.30
six==1.16.0
# ssh2-python==0.26.0 <-- Issues on MacOS
tenacity==8.0.1
textfsm==1.1.2
tftpy==0.8.0
toml==0.10.2
tomli==1.2.1
tqdm==4.62.3
traitlets==5.1.0
ttp==0.8.0
typing-extensions==3.10.0.2
unicon==21.9
unicon.plugins==21.9
urllib3==1.26.7
wcwidth==0.2.5
werkzeug==1.0.1
wheel==0.37.0
wmctrl==0.4
xmltodict==0.12.0
yamllint==1.26.3
yarl==1.7.0
